<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Metonimie">
    <link rel="stylesheet" href="main_window.css"/>
  </head>

  <body>
    <textarea autofocus="autofocu" rows="5" cols="46"
              placeholder="Enter your text..."></textarea>
    <div class="box">
      <label for="password">Key:</label>
      <input id="password" type="password"/>
      <p class="error hidden">No key set!!!</p>
      <br />
      <!-- <input id="store_checkbox" type="checkbox"
             name="store" value="off">Store key for future use?<br> -->
    </div>
    <button id="encrypt_button">Encrypt</button>
    <button id="decrypt_button">Decrypt</button>
    <button id="copy_button">Copy</button>

    <script src="aes.js"></script>
    <script src="main_window.js"></script>
  </body>

</html>
