html, body {
  width: 400px;
  height: auto;
}

textarea {
  padding: 10px;
  resize: none;
}

input {
  padding: 2px;
}

button {
  padding: 3px;
}

.box {
  margin: 10px;
}

.hidden {
  visibility: hidden;
}

.margin-30 {
  margin-left: 30%;
}

.error {
  margin: 5px;
  color: red;
  display: inline;
}
